
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    text-decoration: none;
}

.btn_a {
    text-decoration: none;
}

body {
    margin: 0;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
}

.onfo_bot:not(.item) {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.logo_color {
    fill: var(--tg-theme-button-color);
}

.main {
    max-width: 100%;
    margin: 0;
}

.header {
    background-color: var(--tg-theme-bg-color);
    padding: 20px 0px 20px 0px;
}

.btn {
    font-family: "Roboto", sans-serif;
    padding: 7px 17px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    cursor: default;
    text-decoration: none;
}

.btn:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.btn2 {
    font-family: "Roboto", sans-serif;
    padding: 7px 17px;
    margin-bottom: 10px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    cursor: default;
    text-decoration: none;
}

.btn_links {
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    border: none;
    border-radius: 100px;
    padding: 0px 15px;
    font-size: 13px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    cursor: default;
    text-decoration: none;
    height: 25px;
}

.btn_links:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.btn2:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.btn_a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--tg-theme-link-color);	
    text-decoration: none;
}

.btn_aa {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: var(--tg-theme-link-color);
    display: block;	
    text-decoration: none;
}

.btn_a:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.btn_aa:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.inner {
    display: grid;
    grid-template-columns: 0.9fr 3fr;
    grid-template-rows: 110px 110px 110px;
    text-align: left;
}

.inner2 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 200px;
}

.inner3 {
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 265px 265px 265px 265px 265px 265px 265px 265px 265px 265px;
}

.inner4 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 110px 110px 110px;
}

.item {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    display: block;
    text-decoration: none;
}

.item:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.item2 {
    text-align: center;
}

.about_bookev_item_for_text {
    text-align: left;
}

.img {
    width: 115px;
    cursor: default; 
    border-radius: 6px;
}

.img_bookev {
    width: 100px;
    cursor: default; 
    border-radius: 6px;
}

.img_bookev_1 {
    width: 100px;
    cursor: default; 
    border-radius: 6px;
}

.img_bookev_2 {
    width: 90px;
    cursor: default; 
    border-radius: 6px;
}

.img_bookev_3 {
    width: 80px;
    cursor: default; 
    border-radius: 6px;
}

.place_1 {
    padding: 1px;
    margin: 1px;
    width: 100px;
    cursor: default; 
    margin-top: -50px;
}

.place_2 {
    padding: 1px;
    margin: 1px;
    width: 80px;
    cursor: default; 
    margin-top: -40px;
}

.place_3 {
    padding: 1px;
    margin: 1px;
    width: 60px;
    cursor: default; 
    margin-top: -30px;
}

.title {
    font-family: "Roboto", sans-serif;   
    font-size: 18px;
    cursor: default;
    /* padding-top: 8px;
    padding-bottom: 8px; */
    left: 6; 
    color: var(--tg-theme-section-header-text-color);
}

.author {
    padding: 0.3px;
    margin: 0.3px;
    color: var(--tg-theme-hint-color);
    font-size: 14px;
    font-family: "Roboto", sans-serif;    
    cursor: default;     
}

.name_book {
    padding: 2px;
    margin: 2px;
    color: var(--tg-theme-text-color);
    font-size: 15px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: default; 
}

.name_book_bookev {
    padding: 2px;
    margin: 2px;
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #5E60F4, #E16370);  
    font-size: 19px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: default; 
}

.name_book_12 {
    padding: 4px;
    margin: 2px;
    color: var(--tg-theme-text-color);
    font-size: 12px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    cursor: default; 
}

.link_more {
    margin-top: -36px;
    margin-left: -90px;
    color: var(--tg-theme-link-color);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    cursor: default;
    text-decoration: none;
}

.link_more_a {
    padding: 2px;
    margin-top: 40px;
    color: var(--tg-theme-link-color);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    cursor: default;
    text-decoration: none;
}

.books {
    background-color: var(--tg-theme-section-bg-color);
    border: none;
    max-width: 100%;
    padding: 7px 6px 7px 6px;
}

.bookev {
    background-color: var(--tg-theme-section-bg-color);
    border: none;
    max-width: 100%;
    padding: 7px 6px 7px 6px;
}

.about_bookev {
    background-color: var(--tg-theme-section-bg-color);
    border: none;
    max-width: 100%;
    padding: 7px 6px 7px 6px;
}

.links {
    background-color: var(--tg-theme-section-bg-color);
    border: none;
    max-width: 100%;
    padding: 7px 6px 7px 6px;
}

.description {
    color: var(--tg-theme-hint-color);
    margin: 10px 5px 10px 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    cursor: default; 
}

#nav a {
    display: inline;
    margin-bottom: -2px;
    font-size: 20px;
}

.color {
    fill: var(--tg-theme-hint-color);
}

#nav a:hover {
    color: var(--tg-theme-button-color);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.active {
    fill: var(--tg-theme-button-color);    
}

#nav {
    font-family: "Roboto", sans-serif;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100%;
    height: 55px;
    line-height: 70px;
    background-color: var(--tg-theme-bg-color);
    /* backdrop-filter: blur(100px); */
    bottom: 0;
    /* border-top: 1px solid black; */
}

.btn_tg {
    font-family: "Roboro", sans-serif;
    padding: 7px 17px;
    margin-bottom: 5px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-destructive-text-color);
    cursor: default;
    text-decoration: none;
    width: 40px;
}

.btn_tg:active {
    transition: 0.1s;
    transform: translateY(2px);
}

svg:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.title_1 {
    font-family: "Roboro", sans-serif;
    font-size: 34px;        
}

@keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0px;
    }
    30% {
      left: 110%;
      margin-left: 80px;
    }
    100% {
      left: 110%;
      margin-left: 80px;
    }
}
  
.btn-new {
    overflow: hidden;
    position: relative;
    font-family: "Roboto", sans-serif;
    width: 220px;
    height: 35px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    cursor: default;
    text-decoration: none;
}
  
.btn-new:after {
    content: "";
    display: block;
    width: 30px;
    height: 200px;
    margin-left: 60px;
    background: #fff;
    opacity: 0.5;
    position: absolute;
    left: -40px;
    top: -100px;
    z-index: 1;
    transform: rotate(45deg);
    transition: all 0.1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-delay: 0.05s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.btn-new:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.description_bookev_title {
    color: var(--tg-theme-text-color);
    font-family: "Roboto", sans-serif;
}

.description_bookev_text {
    margin-top: 2px;
    color: var(--tg-theme-hint-color);
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.svg_about_bookev {
    fill: var(--tg-theme-text-color)
}

.title_bookev {
    color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, #5E60F4, #E16370);   
    font-family: "Roboto", sans-serif;   
    font-size: 18px;
    cursor: default;
    left: 6;  
}

.logo_bookev_bar {
    width: 28px;
    margin-bottom: 3px;
}

.logo_bookev_bar:active {
    transition: 0.1s;
    transform: translateY(2px);
}

.img_links {
    width: 30px;
    /* bottom: 10px; */
}

.text_links {
    vertical-align: 8.6px;    
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.p_links {
    margin: 0;
}

hr {
    background-color: var(--tg-theme-section-separator-color);
    height: 1px;
    border:none; 
}

.inner_faq {
    display: grid;
    grid-template-columns: 3fr 0.9fr;
    grid-template-rows: 21px;
}

.item_faq {
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: var(--tg-theme-text-color);
}

.item_faq_right {
    text-align: right;
    margin-right: 10px;
}

.stroka {
    stroke: var(--tg-theme-hint-color);
}

.active_bookev {
    fill: #9F61B4;
}

.diver {
    margin-left: auto;
    margin-right: auto;
    width: 115px;   
    height: 172.5px;
    margin-bottom: 4px;
    background-size: cover;
    border-radius: 6px;
}

.diver_bookev {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 150px;
    margin-bottom: 4px;
    background-size: cover;
    border-radius: 6px;
}

.inner_other_books_bookev {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 200px;
    text-align: left;
}
